name: CI Workflow

on:
  push:


jobs: 
    ci:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Setup node
              uses: actions/setup-node@v3
              with: 
                node-version: "25"
    
            - name: Install deps
              run: npm install

            - name: Test app
              run: npm run test
